*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    
}
.body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
.About{
    /* display: none; */
    background-image: url(img/coding2.jpg);
    height: 100vh;
    margin-bottom: 5rem;
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}

.navbar{
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(38, 36, 36);
    color: white;

}
.links ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 20%;
    transition: all 0.5s ease;
}   
.links li:hover{
    background-color: grey;
    transition: all 0.5s ease;
}
.links li:active{
    background-color: grey;
}
.About{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Myskills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.Myskills img{
    width: 10%;
    height: 10%;
}
.cpp,.java,.python,.html,.css{
    height: 50%;
    max-width: fit-content;
}
.SkillsHead{
    text-align: center;

}
