*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    
}
body{
    background-image: url(img/coding1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    height: 4744px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(38, 36, 36);
    color: white;

}
.links ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}   
.links li:hover{
    background-color: grey;
    text-decoration: underline;
}
.hamburger{
    position:absolute;
    top:0.75rem;
    right:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;

}
.hamburger .line{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}